/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

/* reusable properties */

.bg-gray {
    background-color: lightgray;
}

/* header */

header {
    background-color: lightblue;
    padding: 1.5rem;
}

#main-nav {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main-nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* hero section */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#hero-section {
    background-color: darkblue;
}

#hero-section .content {
    background-color: orchid;
    text-align: center;
    width: 50%;
    height: 400px;
}

/* main section */

.main-section .content {
    background-color: deepskyblue;
    text-align: center;
    width: 40%;
    height: 500px;
}

.main-section .content-b {
    background-color: lightpink;
    text-align: center;
    width: 30%;
    height: 500px;
}

/* cta section */

#cta-section .content {
    background-color: green;
    text-align: center;
    width: 70%;
    height: 1000px;
}

/* footer section */

footer {
    background-color: #23272a;
    padding: 1rem 3rem;
}

#footer-links {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}

#footer-links .content {
    background-color: salmon;
    text-align: center;
    height: 600px;
    flex-grow: 2;
}

#footer-links .content-b {
    background-color: turquoise;
    text-align: center;
    height: 600px;
    flex-grow: 1;
}

#footer-login {
    background-color: aquamarine;
    padding: 1rem;
    width: 70%;
    margin: 2rem auto;
    justify-content: space-between;
}