/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */

header {
    background-color: lightblue;
    padding: 1rem;
}

#main-nav {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

#main-nav ul li {
    display: inline-block;
}